html, body, #app-container {
    width: 100%;
    height: 100%;
}

html, body {
    margin: 0;
    overflow: hidden;
}

#app-container {
  overflow: hidden;
}

.code-editor {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.code-editor .cm-editor {
    overflow: hidden;
}

.code-editor .cm-scroller {
    overflow: auto;
}

.code-editor .cm-editor.cm-focused {
    outline: none;
}
